---
import BaseLayout from "../../layouts/fr/BaseLayout.astro";
import Icon from "../../components/fr/Icon.astro";
import ContactCTA from "../../components/fr/ContactCTA.astro";
import Hero from "../../components/fr/Hero.astro";
---

<BaseLayout title="About | Alexandre Moreau" description="About myself">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="À propos de moi"
        tagline="Merci de votre visite. Lisez ci-dessous pour en savoir plus sur moi et mon parcours."
      >
        <img width="1000" height="1000" src="/assets/ProfilePicture.jpeg" alt="me" />
      </Hero>

      <section>
        <h2 class="section-title">Présentation</h2>
        <div class="content">
          <p>
            Développeur full stack basé à Grenoble, passionné par le web, le code propre et la progression continue. Curieux, rigoureux et motivé, j’aime comprendre les choses en profondeur et monter en compétence à chaque étape.
          </p>
          <br />
          <p>
            Après quelques années dans le monde de l’escalade, j’ai choisi de me reconvertir dans le développement web. Ce n’était pas un virage, mais l’exploration d’un univers qui m’a toujours attiré : celui de la création, de la logique, et de la résolution de problèmes concrets.
          </p>
          <br />
          <p>
            Aujourd’hui, je travaille chez Thomyris sur un projet complet de gestion de messagerie avec détection anti-spam et antivirus. Le back est exigeant (multi-tenant, filtrage, CI/CD), le front soigné (Vue, Nuxt) — un vrai terrain d’apprentissage et de structuration.
          </p>
          <br />
          <p>
            En parallèle, je continue à me former sérieusement : Python, algorithmique, bonnes pratiques de dev, architecture logicielle, etc. Je progresse ligne après ligne, entre documentation, pratique, et projets personnels.
          </p>
          <br />
          <p>
            J'avance avec exigence, constance et enthousiasme — toujours en quête de compréhension, de rigueur, et de sens dans ce que je développe.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Ma Stack</h2>
        <div class="content">
          <h3>Front-end</h3>
          <div class="content-logo">
            <span>
              <Icon icon="html" size="3em" />
              <p>Html</p>
            </span>

            <span>
              <Icon icon="css" size="3em" />
              <p>Css</p>
            </span>

            <span>
              <Icon icon="js" size="3em" />
              <p>Javascript</p>
            </span>
            <span>
              <Icon icon="sass" size="3em" />
              <p>SASS</p>
            </span>
            <span>
              <Icon icon="react" size="3em" />
              <p>React</p>
            </span>
            <span>
              <Icon icon="vuejs" size="3em" />
              <p>VueJs</p>
            </span>
          </div>
        </div>
        <div class="content">
          <h3>Back-end</h3>
          <div class="content-logo">
            <span>
              <Icon icon="node" size="3em" />
              <p>NodeJs</p>
            </span>
            <span>
              <Icon icon="py" size="3em" />
              <p>Python</p>
            </span>
            <span>
              <Icon icon="django" size="3em" />
              <p>Django</p>
            </span>
            <span>
              <Icon icon="php" size="3em" />
              <p>Php</p>
            </span>
            <span>
              <Icon icon="laravel" size="3em" />
              <p>Laravel</p>
            </span>
            <span>
              <Icon icon="sql" size="3em" />
              <p>Sql / mariadb</p>
            </span>
            <span>
              <Icon icon="docker" size="3em" />
              <p>Docker</p>
            </span>
          </div>
        </div>
        <div class="content">
          <h3>Other</h3>
          <div class="content-logo">
            <span>
              <Icon icon="figma" size="3em" />
              <p>Figma</p>
            </span>
            <span>
              <Icon icon="jira" size="3em" />
              <p>Jira</p>
            </span>
            <span>
              <Icon icon="git" size="3em" />
              <p>Git</p>
            </span>
            <span>
              <Icon icon="cicd" size="3em" />
              <p>Ci/Cd DevOps</p>
            </span>
            <span>
              <Icon icon="scrum" size="3em" />
              <p>Methodo Agile</p>
            </span>
            <span>
              <Icon icon="notion" size="3em" />
              <p>Notion</p>
            </span>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Formation</h2>
        <div class="content">
          <p>
              Bac +2 Développeur Web / Web Mobile (Titre professionnel RNCP37674)
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Soft Skills</h2>
        <div class="content soft-skills">
          <span>
            <p>Data analyse et Interpretation</p>
            <p>Apprend vite</p>
            <p>Résilient</p>
            <p>Patient</p>
            <p>Organiser</p>
          </span>
          <span>
            <p>Ouvert d'esprit</p>
            <p>Méticuleux</p>
            <p>Pragmatique</p>
            <p>Curieux</p>
            <p>Calme</p>
          </span>
        </div>
      </section>

      <section>
        <h2 class="section-title">Parcours
        </h2>
        <div class="content">
          <div class="background">
            <h3>Développeur FullStack | <i>Thomyris Chambéry</i></h3>
            <p>10.2024 – Aujourd’hui</p>
            <ul>
              <li>Développement d'une application SaaS à destination des entreprises du réseau et aux clients finaux, intégrant une gestion avancée de serveurs de messagerie dans un environnement multi-tenant à bases de données multiples.</li>
              <li>Mise en place de systèmes de filtrage anti-spam et anti-virus, avec une interface responsive et compatible multi-navigateurs (Chrome, Edge, Safari).</li>
              <li>Conception et développement d’applications web robustes et scalables avec Vue.js, Nuxt 3 et Laravel.</li>
              <li>Implémentation et optimisation d’APIs REST avec MySQL, tests effectués via REST Client.</li>
              <li>Rédaction et exécution de tests unitaires, automatisés et end-to-end (Vitest, Cypress) pour assurer la qualité du code.</li>
              <li>Amélioration des pipelines CI/CD sous GitLab dans un environnement Dockerisé, en collaboration avec l’équipe DevOps.</li>
              <li>Pratique quotidienne des méthodologies Agile : participation aux stand-ups, sprint reviews et rétrospectives ; suivi des tâches via GitLab, Jira et Teams.</li>
              <li>Expérience en pair programming et code review, avec une forte culture d’amélioration continue.</li>
              <li>Veille technologique régulière sur Vue.js, Laravel, DevOps, Ia et les bonnes pratiques de développement moderne.</li>
              <li>Contribution au développement du front-end d’un outil interne de monitoring en React et GraphQL pour le suivi en temps réel des nouveaux clients, de l’état des infrastructures, des KPIs et des tickets support produit.</li>
            </ul>
          </div>
            <h3>Étudiant DevOps | <i>EPSI Grenoble</i></h3>
            <p>09.2023 - 12.2023</p>
            <p>Thèmes et compétences étudiés :</p>
            <ul>
              <li>Conception et test de solutions applicatives</li>
              <li>Administration et conception de solutions d’infrastructure</li>
              <li>Gestion des données et des projets avec une approche DevOps</li>
              <li>Communication et veille technologique</li>
              <li>Développement professionnel et compétences interpersonnelles (soft skills)</li>
            </ul>
          </div>
          <div class="content">
            <h3>Développeur Web FullStack | <i>Stage</i></h3>
            <p>Création complète d’un site web pour un groupe de musique</p>
            <p>04.2023 – 06.2023</p>
            <ul>
              <li>
                Utilisation de React.js et Node.js pour le développement front-end et back-end, Git et Notion pour la gestion de projet, et Figma pour la conception de la maquette.
              </li>
              <li>
                Collaboration avec l’équipe de développement pour intégrer harmonieusement le front-end et le back-end, assurant la cohérence globale du site.
              </li>
              <li>
                Utilisation de Figma pour transformer les maquettes en prototypes interactifs, facilitant les itérations rapides et la compréhension des besoins du projet.
              </li>
              <li>
                Gestion de projet avec Notion pour suivre les tâches, les jalons et l’avancement du projet, assurant une approche organisée et méthodique durant tout le développement.
              </li>
            </ul>
          </div>
          <div class="content">
            <h3>Ouvreur | <i>Block'out Lille, Cergy</i></h3>
            <p>04.2022 – 05.2022</p>
            <p>06.2018 – 04.2021</p>
            <ul>
              <li>Ouverture de 5 blocs par jour</li>
              <li>Entretien de la salle d’escalade</li>
              <li>
                Encadrement de cours enfants et anniversaires de groupe (jusqu’à 30 personnes)
              </li>
              <li>Entraînement de l’équipe compétition et des groupes loisirs</li>
              <li>Service en salle et au bar</li>
            </ul>
          </div>
          <div class="content">
            <h3>Agent Commercial Immobilier | <i>Era Immobilier Avion</i></h3>
            <p>09.2021 – 12.2021</p>
            <ul>
              <li>Prospection</li>
              <li>Gestion de la relation client</li>
              <li>Estimation de biens immobiliers</li>
            </ul>
          </div>
        </div>
      </section>

      <section>
        <div class="cv">
          <a
            class="cv-btn"
            href="/assets/my-resume.webp"
            download="Moreau_Alexandre_resume.pdf">Télécharger mon cv</a
          >
          <a class="cv-btn-img" href="/cv">
            <img class="cv-img" src="/assets/my-resume.webp" alt="mon-cv" />
          </a>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content > .background {
    padding-bottom: 2rem;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  .content-logo {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2em;
    text-align: center;
  }

  .soft-skills {
    display: flex;
    gap: 3em;
  }

  h3 {
    margin-bottom: 0.5em;
    font-size: var(--text-lg);
  }

  .cv {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 80%;
    margin: 25px auto 0;
  }

  .cv-btn {
    height: fit-content;
    font-size: var(--text-xl);
    font-weight: 600;

    text-align: center;
    color: var(--accent-text-over);
    text-decoration: none;
    border-radius: 999rem;
    background: var(--gradient-accent-orange);
  }

  .cv-img {
    margin-top: 0;
    width: 100%;
  }

  .cv-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: background-color var(--theme-transition);
    mix-blend-mode: overlay;
  }

  @media (min-width: 20em) {
    .cv-btn {
      font-size: var(--text-lg);
    }
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
