---
const currentLocale = Astro.currentLocale;
---

<lang-toggle>
  <button onclick="toggleLang()">
    <span class={`icon fr ${currentLocale === 'fr' ? 'active' : ''}`}>Fr</span>
	<span class={`icon en ${currentLocale === 'en' ? 'active' : ''}`}>En</span>
  </button>
</lang-toggle>

<script is:inline>
  function toggleLang() {
    const currentUrl = window.location.pathname;
    const targetLang = currentUrl.startsWith('/fr') ? 'en' : 'fr';
    const newUrl = currentUrl.replace(/^\/(fr|en)/, '/' + targetLang);
    const fullUrl = newUrl + window.location.search + window.location.hash;
	
    window.location.href = fullUrl;
  }
</script>

<style>
	button {
		display: flex;
		border: 0;
		border-radius: 999rem;
		padding: 0;
		background-color: var(--gray-999);
		box-shadow: inset 0 0 0 1px var(--accent-overlay);
		cursor: pointer;
		transition: background-color 0.3s ease, opacity 0.3s ease;
	}

	.icon {
		z-index: 1;
		position: relative;
		display: flex;
		padding: 0.5rem;
		width: 2rem;
		height: 2rem;
		font-size: 0.9rem;
		color: var(--accent-overlay);
	}

    .icon.en {
        margin-left: -0.1;
    }

	.icon.active::before {
		content: '';
		z-index: -1;
		position: absolute;
		inset: 0;
		background-color: var(--accent-regular);
		border-radius: 999rem;
		transition: transform 0.3s ease, background-color 0.3s ease;
	}

	.icon.en,
	.icon.fr {
		color: var(--accent-text-over);
	}

	@media (prefers-reduced-motion: no-preference) {
		.icon,
		.icon.active::before {
			transition:
				transform var(--theme-transition),
				color var(--theme-transition);
		}
	}

	@media (forced-colors: active) {
		.icon.active::before {
			background-color: SelectedItem;
		}
	}
</style>