---
import Icon from './Icon.astro';
---
<!-- html -->
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>À l’aise aussi bien en développement front-end que back-end, j’aime explorer toutes les facettes des sciences informatiques. Passionné par les défis variés, je reste à jour sur les dernières technologies afin de créer des solutions complètes.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Apprentissage rapide</h2>
		<p>Je possède une grande capacité à assimiler rapidement de nouveaux concepts et technologies. Cette aptitude me permet de m’adapter facilement à l’évolution du secteur et d’intégrer efficacement de nouveaux outils et méthodologies à mes compétences.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Esprit stratégique</h2>
		<p> J’ai le sens de la réflexion stratégique. Face à un défi, je prends du recul pour analyser le contexte global. Cela me permet de prendre des décisions qui répondent aux problèmes immédiats tout en contribuant à la réussite globale du projet. Ma capacité d’adaptation me permet aussi de changer de cap si nécessaire pour rester sur la bonne voie.</p>
	</div>
</section>

<!-- css -->
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
