---
import { getCollection, type CollectionEntry } from 'astro:content';


import Hero from '../../components/en/Hero.astro';
import Grid from '../../components/en/Grid.astro';
import BaseLayout from '../../layouts/en/BaseLayout.astro';
import ContactCTA from '../../components/en/ContactCTA.astro';
import PortfolioPreview from '../../components/en/PortfolioPreview.astro';

type WorkEntry = CollectionEntry<'work'>;

const projects = (await getCollection('work'))
	.filter((entry: WorkEntry) => entry.data.lang === 'en')
	.sort((a: WorkEntry, b: WorkEntry) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf());
---

<BaseLayout
	title="My Work | Alexandre Moreau"
	description="Learn about my most recent projects"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="My Work"
				tagline="See my most recent projects below to get an idea of my past experience."
				align="start"
			/>
			<Grid variant="offset">
				{
					projects.map((project: any) => (
						<li>
							<PortfolioPreview project={project} />
						</li>
					))
				}
			</Grid>
		</main>
		<ContactCTA />
	</div>
</BaseLayout>
