---
import BaseLayout from "../layouts/BaseLayout.astro";
import Icon from "../components/Icon.astro";
import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Alexandre Moreau" description="About myself">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1000"
          height="1000"
          src="/assets/about.webp"
          alt="me"
        />
      </Hero>

      <section>
        <h2 class="section-title">Presentation</h2>
        <div class="content">
          <p>In search of new challenges, and recently awarded a professional title in web/mobile 
			development, I am currently pursuing the Bachelor's in DevOps at EPSI while actively 
			seeking an apprenticeship opportunity. A sports enthusiast, intellectually curious, and 
			deeply interested in technology, my ability to adapt, question, and learn easily has led 
			me towards the field of computer development.</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Hard Skill</h2>
        <div class="content">
          <h3>Front-end</h3>
          <div class="content-logo">
            <span>
              <Icon icon="html" size="3em" />
              <p>Html</p>
            </span>

            <span>
              <Icon icon="css" size="3em" />
              <p>Css</p>
            </span>

            <span>
              <Icon icon="js" size="3em" />
              <p>Javascript</p>
            </span>
            <span>
              <Icon icon="sass" size="3em" />
              <p>SASS</p>
            </span>
            <span>
              <Icon icon="react" size="3em" />
              <p>React</p>
            </span>
            <span>
              <Icon icon="angular" size="3em" />
              <p>Angular</p>
            </span>
          </div>
        </div>
        <div class="content">
          <h3>Back-end</h3>
          <div class="content-logo">
            <span>
              <Icon icon="node" size="3em" />
              <p>NodeJs</p>
            </span>
            <span>
              <Icon icon="py" size="3em" />
              <p>Python</p>
            </span>
            <span>
              <Icon icon="django" size="3em" />
              <p>Django</p>
            </span>
            <span>
              <Icon icon="sql" size="3em" />
              <p>Sql / mariadb</p>
            </span>
            <span>
              <Icon icon="docker" size="3em" />
              <p>Docker</p>
            </span>
          </div>
        </div>
        <div class="content">
          <h3>Other</h3>
          <div class="content-logo">
            <span>
              <Icon icon="figma" size="3em" />
              <p>Figma</p>
            </span>
            <span>
              <Icon icon="apple" size="3em" />
              <p>MacOs</p>
            </span>
            <span>
              <Icon icon="git" size="3em" />
              <p>Git</p>
            </span>
            <span>
              <Icon icon="cicd" size="3em" />
              <p>Ci/Cd DevOps</p>
            </span>
            <span>
              <Icon icon="scrum" size="3em" />
              <p>Methodo Agile</p>
            </span>
          </div>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
			<p> Bac +3 Devops (in current)</p>
          <p> Bac +2 web developpement / web mobile (Titre professionnel RNCP37674)</p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Soft Skills</h2>
        <div class="content">
          <div class="content-softskill">
            <span>
              <h3>Profesionnal</h3>
              <p>Patient</p>
              <p>Méticuleux</p>
            </span>
            <span>
              <h3>Comportemental</h3>
              <p>calme</p>
            </span>
          </div>
        </div>
      </section>

      <section>
        <h2 class="section-title">Mon Parcours</h2>
        <div class="content">
			<div>
				<h3>Devops Studient | <i>EPSI Grenoble</i></h3>
				<p>Etudiant devops a l'epsi de grenoble</p>
				<ul>
					<li> Alternance 2 semaines entreprise - 1 semaine ecole</li>
					<li> </li>
				</ul>
			</div>
			<div>
				<h3>FullStack Web developer | <i>internship</i></h3>
				<p></p>
			</div>
          <p>1 ouvreur</p>
          <p>2 Cariste</p>
        </div>
      </section>

      <section>
        <div class="cv">
          <a
            class="cv-btn"
            href="/assets/my-resume.webp"
            download="Moreau_Alexandre_resume.pdf">Download CV</a
          >
          <a class="cv-btn-img" href="/cv">
            <img class="cv-img" src="/assets/my-resume.webp" alt="my-resume" />
            <span class="cv-hover">View more</span>
          </a>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  /* *{
		border: 1px solid red;
	} */

  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
	font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  .content-logo {
    display: flex;
    gap: 1.2em;
    text-align: center;
  }

  .content-softskill {
    display: flex;
    gap: 3em;
  }

  h3 {
    margin-bottom: 0.5em;
	font-size: var(--text-lg);
  }

  .cv {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  .cv-btn {
    height: fit-content;
    font-size: var(--text-xl);
    font-weight: 600;

    text-align: center;
    color: var(--accent-text-over);
    text-decoration: none;
    border-radius: 999rem;
    background: var(--gradient-accent-orange);
  }

  .cv-img {
    margin-top: 0;
    width: 100%;
  }

  .cv-btn::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    transition: background-color var(--theme-transition);
    mix-blend-mode: overlay;
  }

  @media (min-width: 20em) {
    .cv-btn {
      font-size: var(--text-lg);
    }
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
