---
import Icon from './Icon.astro';
---
<!-- html -->
<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Full Stack</h2>
		<p>Comfortable both in front-end and back-end development, I enjoy exploring all facets of computer sciences. Passionate about embracing diverse challenges and staying abreast of the latest technologies to create comprehensive solutions.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="brain" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Fast-learning</h2>
		<p>I possess a strong ability to quickly grasp new concepts and technologies. My aptitude for fast-learning allows me to adapt swiftly to evolving industry trends and incorporate new tools and methodologies into my skill set.</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Strategy-Minded</h2>
		<p> I possess a skill for strategic thinking. When confronted with challenges, I tend to step back and examine the broader context. This enables me to make decisions that address immediate issues while contributing to the overall success of a project. My adaptable nature ensures I can pivot when needed to stay on the right course.</p>
	</div>
</section>

<!-- css -->
<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
